<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">
	<properties>
		<property name="LOG_HOME">logs</property>
		<property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%thread - %L] [%logger{36}] [%m]%n</property>
		<property name="INFO_LOG_FILE_NAME">app-info</property>
		<property name="ERROR_LOG_FILE_NAME">app-error</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<RollingRandomAccessFile name="ErrorLog"
			fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log" filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="InfoLog"
			fileName="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log" filePattern="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<logger name="org.springframework" level="info">
		</logger>
		<logger name="cn.zetark.oauth2" level="ERROR" includeLocation="true"
			additivity="false">
			<appender-ref ref="ErrorLog" />
		</logger>
		<logger name="cn.zetark.oauth2" level="INFO" includeLocation="true"
			additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="InfoLog" />
		</logger>
		<root level="info" includeLocation="true">
			<appender-ref ref="Console" />
		</root>
	</Loggers>
</Configuration>